{% extends "tdashboard-base.html" %}

{% block dashboard_content %}

<h2>教师信息</h2>
<br>
<form method="POST">
<div class="row">
	<div class="col-md-2" style="font-size: 20px;"> 
		姓名： 
	</div>
	<div class="col-md-10" style="font-size: 20px;">{{ teacher.tname }}</div>
</div>
<br>
<div class="row">
	<div class="col-md-2" style="font-size: 20px;"> 职称： </div>
	<div class="col-md-10" style="font-size: 20px;">{{ teacher.prof }}</div>
</div>
<br>
<div class="row">
	<div class="col-md-2" style="font-size: 20px;"> 
		邮件： 
		{% if "email" in ifedit %}
		<button class="btn btn-sm btn-primary" name="editemail" id="editemail">修改</button>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#editemail").click(function(){
					$("#email").replaceWith(
						"<div><input type=\"text\" class=\"form-control\" style=\"height: 30px;\" name=\"email\" value=\"{{ teacher.email }}\"></input></div>"
					);
					$(this).replaceWith("<button class=\"btn btn-sm btn-warning\" name=\"editemail\" type=\"submit\" value=\"\">确认</button>")
				})
			})
		</script>
		{% endif %}
	</div>
	<div class="col-md-10" style="font-size: 20px;" id="email"><a href="mailto:{{ teacher.email }}">{{ teacher.email }}</a></div>
</div>
<br>
<div class="row">
	<div class="col-md-2" style="font-size: 20px;">
		电话： 
		{% if "phno" in ifedit %}
		<button class="btn btn-sm btn-primary" name="editphno" id="editphno">修改</button>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#editphno").click(function(){
					$("#phno").replaceWith(
						"<div><input type=\"text\" class=\"form-control\" style=\"height: 30px;\" name=\"phno\" value=\"{{ teacher.phno }}\"></input></div>"
					);
					$(this).replaceWith("<button class=\"btn btn-sm btn-warning\" name=\"editphno\" type=\"submit\" value=\"\">确认</button>")
				})
			})
		</script>
		{% endif %}
	</div>
	<div class="col-md-10" style="font-size: 20px;" id="phno">{{ teacher.phno }}</div>
</div>
</form>
{% endblock %}
