{% extends "dashboard-base.html" %}

{% block dashboard_content %}
      <h2>我的课表</h2>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>周日</th>
              <th>周一</th>
              <th>周二</th>
              <th>周三</th>
              <th>周四</th>
              <th>周五</th>
              <th>周六</th>
            </tr>
          </thead>
          <tbody>
          	{% for j in [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14 ] %}
          		<tr>
          		<td>{{ j }}</td>
          		{% for i in [ 7, 1, 2, 3, 4, 5, 6 ] %}
          			<td>{{ cname[i, j] }}</td>
          		{% endfor %}
          		</tr>
          	{% endfor %}
          </tbody>
        </table>
      </div>
{% endblock %}
