{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link {% if sidebar_name == 'curriculum' -%} active {%- endif -%}" href="/test/dashboard-curriculum">我的课表<span class="sr-only">(current)</span></a>
          <a class="nav-link {% if sidebar_name == 'coursesavailable' -%} active {%- endif -%}" href="/test/dashboard-coursesavailable-1">可选课程<span class="sr-only">(current)</span></a>
					<a class="nav-link {% if sidebar_name == 'coursespossessed' -%} active {%- endif -%}" href="/test/dashboard-coursespossessed">已选课程<span class="sr-only">(current)</span></a>
        	<a class="nav-link {% if sidebar_name == 'courseinfo' -%} active {%- endif -%}" href="#">课程信息<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </nav>
    <main class="col-md-10">
    	{% block dashboard_content %}
    	{% endblock %}
    <main>
  </div>
</div>
{% endblock %}
