{% extends "dashboard-base.html" %}

{% block dashboard_content %}

<div class="row" style="font-size: 20px;">
	<div class="col-md-8"><h2>已修课程</h2></div>
	<div class="col-md-2">总学分: {{ credit }}</div>
	<div class="col-md-2">总绩点: {{ gpa }} </div>
</div>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th><div style="width:120px;">课程编号</div></th>
			<th><div style="width:160px;">课程名</div></th>
			<th><div style="width:260px;">教师</div></th>
			<th><div style="width:60px;">学分</div></th>
			<th><div style="width:60px;">成绩</div></th>
			<th><div style="width:40px;">选项</div></th>
		</tr>
	</thead>
	<form method="POST">
		<tbody>
			{% for cou in course %}
			<form method="POST">
				<tr>
					<th onclick="HighLightCell{{ cou.cid }}()"><a href="/dashboard-courseinfo-{{ cou.cno }}">{{ cou.cno }}</a></th>
					<th onclick="HighLightCell{{ cou.cid }}()"> {{ cou.cname }}</th>
					<th onclick="HighLightCell{{ cou.cid }}()">		
						{%- for teacher in cou.teacher -%}
							<a href="/dashboard-teacherinfo-{{ teacher.tno }}">{{ teacher.tname }}</a>
							{%- if teacher != cou.teacher[-1] -%}
								，
							{%- endif -%}
						{%- endfor -%}
					</th>
					<th onclick="HighLightCell{{ cou.cid }}()">{{ cou.credit }}</th>
					<th onclick="HighLightCell{{ cou.cid }}()">{{ cou.grade }}</th>
					<th>
						<input type="hidden" name="select" value="{{ cou.cno }}"></input>
						<button type="submit" class="btn btn-{%- if cou.done -%}warning{%- else -%}primary{% endif %} btn-sm">
							重修
						</button>
						</div>		
					</th>
				</tr>
			</form>
			{% endfor %}		
		</tbody>
	</form>
</table>
{% endblock %}
