{% extends "dashboard-base.html" %}

{% block dashboard_content %}
      <div class="table-responsive">
		<table class="table table-striped table-bordered">
		  <div class="row">
		    <div class="col-md-2"> <h3>CoursesAvailable</h3></div>
		  </div>
		  <thead>
		    <th>Course No.</th>
		    <th>Course Name</th>
		    <th>Teacher</th>
		    <th>Time</th>
		    <th>Classroom</th>
		  </thead>
		  <tbody>
		    <tr>
			  <th><input style="width: 200px;" type="text" class="form-control"></th>
			  <th><input style="width: 200px;" type="text" class="form-control"></th>
			  <th><input style="width: 200px;" type="text" class="form-control"></th>
			  <th><input style="width: 200px;" type="text" class="form-control"></th>
			  <th><input style="width: 200px;" type="text" class="form-control"></th>
		    <tr>
		    <tr>
			  <th>12345</th>
			  <th>xuanxue</th>
			  <th>Liu(12345)</th>
			  <th>Thu</th>
			  <th>Z2102</th>
		    <tr>
		  </tbody>
		  <table>
      </div>
{% endblock %}
