{% extends "base.html" %}

{% block page_content %}
<div class="jumbotron">
  <div class="container" style="width: 300px;">
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
  		{% if errors %}
  			<div class="alert alert-danger" role="alert" style="text-align: center;">
					{% for msg in errors %}
						{{ msg }}
						<br>
					{% endfor %}
				</div>
			<br>
  		{% endif %}		
  	{% endwith %}
  	
  	{% with successes = get_flashed_messages(category_filter=["success"]) %}
			{% if successes %}
					<div class="alert alert-success" role="alert" style="text-align: center;">
						{% for msg in successes %}
							{{ msg }}
							<br>
						{% endfor %}
					</div>
				<br>
			{% endif %}
  	{% endwith %}
    <form class="form-signin" method="POST">
      <h2 class="form-signin-heading" style="text-align: center;">登录</h2>
      <br>
      <input type="text" id="inputUsername" name="username" class="form-control" placeholder="请输入您的学号或工号" required="">
      <br>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="请输入您的密码" required="">
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>
  </div>
</div>
{% endblock %}
