<!DOCTYPE html>
<link href="css/bootstrap.css" rel="stylesheet">
<script src="js/bootstrap.js"></script>
<!--<style>
  body {
  background: #9fc5e8;
  }
</style>-->
<html><body>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Dashboard</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
    </ul>  
  </div>
</nav>
<br>
<br>
<br>
<div class="container">
	
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link " href="#">Curriculum <span class="sr-only">(current)</span></a>
          <a class="nav-link " href="#">List <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </nav>
    <main class="col-md-10">
    	
    	
    <main>
  </div>  	
</div>

</div>
<div class="container">
	<hr>
	<footer>
		<p> @Lucio </p>
	</footer>
</div>
</body></html>
