{% extends "tdashboard-base.html" %}

{% block dashboard_content %}

<h2>课程描述</h2>
<br>
<p style="font-size: 20px;">{{ description }}</p>
<br>
{% if student != None %}
<h2>花名册</h2>
<br>
<form method="post">
	<div class="form-group">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th><div style="width:230px;">学号</div></th>
					<th><div style="width:230px;">姓名</div></th>
					<th><div style="width:230px;">性别</div></th>
					<th><div style="width:100px"> 分数</div></th>
					<th><div style="width:40px;">选项</div></th>
				</tr>
			</thead>
			<tbody>
				{% for stu in student %}
				<tr>
					<th>{{ stu.sno }}</th>
					<th>{{ stu.sname }}</th>
					<th>{{ stu.sex }}</th>
					<th><input type="number" step="0.1" min="0" max="100" class="form-control" name = "{{ stu.sno }}" value={{ stu.grade }}></input></th>
					<form method="post">
						<th><button type="submit" class="btn btn-sm btn-primary" name="drop" value="{{ stu.sno }}">移除</button></th>
					</form>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<br>
		<div class="form-group">
			<button type="submit" class="btn btn-lg btn-primary from-group" align="right" name="update" value="">登记分数</button>
		</div>
	</div>
</form>

{% endif %}
{% endblock %}
